.center {
	text-align: center;
}
p{
	font-family:  sans-serif, Arial ,Helvetica;
}
.sansserif{
	font-family:  sans-serif, Arial ,Helvetica;
}
.large{
	font-size: 50px;
}
body{
		background-color: #8c8c8c;
}
.upanddown{
 position: fixed;}
#uparrow{
 position: fixed; absolute;
 bottom: 0px;
 left:0;
}